body{

font-family:Arial;
background:#edf5ff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:40px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.2);
width:400px;
text-align:center;

}

input{

width:90%;
padding:12px;
margin:10px;
border-radius:8px;
border:1px solid #ccc;

}

button{

padding:12px 25px;
background:#007BFF;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}

button:hover{

background:#0056b3;

}

.result{

margin-top:20px;
padding:15px;
background:#d4edda;
border-radius:10px;

}